#App_footer {
  font-size: 0.8rem;
  border-top: 1px solid lightgrey;
  padding-top: 2rem;

  p {
    margin: 0 20px;
  }
  a {
    text-decoration: none;
    color: gray;
  }
  
  .footer_cs {
    display: flex;
    justify-content: center;
    .footer_cs_box {
      min-width: max-content;
    }
  }
  .footer_copyright {
    margin: 2rem 0;
    justify-self: flex-start;
    font-size: smaller;
  }
  .goTop {
    position: fixed;
    right: 8px;
    bottom: -100%;
    z-index: 10;
    transition: bottom 0.3s;

    // scss에서는 같은 태그에 몇가지 속성만 다를경우,
    // &으로 나누어 스타일을 줄 수 있다.
    // 기존 goTop클래스에 active 클래스가 활성 되었을때의 스타일.
    &.active {
      bottom: 8px;
      transition: bottom 0.3s;
    }
  }
}